doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content="text/html;charset=utf-8")
    meta(charset="UTF-8")
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/simpleUpload.min.js')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.min.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.structure.min.css")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.theme.min.css")
  body
    div(style='width: 960px; margin-left: auto; margin-right: auto')
      div.header
        div.header-printer-model= computer_name
      div#container(style='display: none')
        ul#menu
          li
            a#idHomeLink(href='#idHomePage')
              | Status
          li
            a#idUpdateSoftwareLink(href='#idUpdateSoftwarePage')
              | Update Software
          li
            a#idDownloadSettingsLink(href='#idDownloadSettingsPage')
              | Settings
          li
            a#idDownloadLogsLink(href='#idDownloadLogsPage')
              | Logs
        div#idHomePage
          p Printer model: #{make_and_model}
          p Software version: #{software_version}
          p Serial number: #{serial_number}
          p Status: N/A
        div#idUpdateSoftwarePage
          div#upload-status(style='display: none')
          div#idProgress(style="display: none")
          input#uploadSoftware(type="file" name="file")
          div#package-error
            | Communication error!
          table#packages(border=1)
        div#idDownloadSettingsPage
          p Download settings
        div#idDownloadLogsPage
          p Download logs
    script.
      function loadData() {
        $.getJSON('/backchannel/get-packages')
        .done(function(data) {
          var s = '<tr><th>Package</th><th>Version</th></tr>';
          for (var i = 0; i < data.length; i++) {
            s += '<tr><td>' + data[i]['name_'] +
                '</td><td>' + data[i]['version_'] +
                '</td></tr>';
          }
          $('#package-error').hide();
          $('#packages').html(s);
        })
        .fail(function() {
          $('#package-error').show();
          $('#packages').html('');
        })
        .always(function() { setTimeout(loadData, 10000); });
      }

      function render() {
        $('#container').tabs();
        $('input#uploadSoftware').change(function() {
          $(this).simpleUpload("/upload", {
              start: function(file) {
                //upload started
                console.log("upload started");
                $('#upload-status').hide();
                $('input#uploadSoftware').hide();
                $('#idProgress').progressbar({value: 0, max: 100}).show();
              },
              progress: function(progress) {
                //received progress
                console.log("upload progress: " + Math.round(progress) + "%");
                if (progress >= 100)
                  $('#idProgress').progressbar({value: false});
                else
                  $('#idProgress').progressbar({value: progress, max: 100});
              },
              success: function(data) {
                //upload successful
                console.log("upload successful!");
                console.log(data);
                $('#upload-status')
                    .removeClass('upload-status-error')
                    .addClass('upload-status-succeess')
                    .text(data.name + ' Uploaded.').show();
                $('#idProgress').hide();
                $('input#uploadSoftware').show();
              },
              error: function(error) {
                //upload failed
                console.log("upload error: " + error.name + ": " + error.message);
                $('#upload-status')
                    .removeClass('upload-status-succeess')
                    .addClass('upload-status-error')
                    .text('Upload failed.').show();
                $('#idProgress').hide();
                $('input#uploadSoftware').show();
              }
          });
        });
        $('#container').show();
        loadData();
      }

      $(document).ready(render);
      
